<div class="container"></div>

<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<br>


<br>
<br>

<button class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onAddServer()"> Add Server
</button>

<hr>

<p *ngIf="serverCreated; else noServer" [innerText]="serverAdded"></p>
<ng-template #noServer>
    <p>There is no server name</p>
</ng-template>

<hr>


<p [innerText]="propertyBinding"></p>
<h3>Servers component presents:</h3>
<hr>

<app-server *ngFor="let server of servers"> </app-server>





<!-- <h5> server 1 </h5> -->
<!-- <app-server></app-server> -->
<!-- <div class="app-server"></div> -->
<!-- <div app-server></div> -->

<!-- <h5> server 2 </h5> -->
<!-- <div class="app-server"></div> -->
<!-- <app-server></app-server> -->

