<div class="container"></div>

<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<br>


<br>
<br>

<button class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onAddServer()"> Add Server
</button>
<p [innerText]="propertyBinding"></p>
<h3>Servers component presents:</h3>
<hr>
<h5> server 1 </h5>
<!-- <app-server></app-server> -->
<div class="app-server"></div>
<!-- <div app-server></div> -->

<h5> server 2 </h5>
<div class="app-server"></div>
<!-- <app-server></app-server> -->
<p *ngIf="serverCreated" [innerText]="serverAdded"></p>{{serverName}}